name: Lint

on:
    push:
        branches: [main]
    pull_request:
        branches: ["**"]
    repository_dispatch:
        types: [dagger-update-complete]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions: {}

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  persist-credentials: false

            - name: Run lint
              uses: dagger/dagger-for-github@d913e70051faf3b907d4dd96ef1161083c88c644 # v8.2.0
              with:
                  version: "0.19.10"
                  cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
                  call: lint